<p>Hello {{ email.toName }},</p>

<p>Congratulations on joining the Georgia State University team!</p>

<p>All University System of Georgia (USG) employees (faculty, staff, full-time, part-time, and temp) and student workers (graduate assistants, graduate 
research assistants, and graduate teaching assistants) are required to complete courses as a condition of their employment.</p>

<p>As a new GSU employee, you are required to complete mandatory courses within 30 days of starting your position. This will include Ethics, Right to Know, 
Safety Training Orientation, and Preventing Harassment &amp; Discrimination in the Workplace.</p>

<p>
Please use this link to complete your training:<br/>
<a href="{{ loginLink }}">{{ loginLink }}</a>
</p>

<p>{{ include('required.html.twig') }}</p>

<p>If you have any additional questions, please reach out to your manager or your department's Human Resources Officer for assistance.</p>

<p>We welcome you to our Georgia State family! Go Panthers!</p>

{{ include('footer.html.twig') }}
